# WordPress Coding Standards
# https://developer.wordpress.org/coding-standards/

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = tab

[*.{js,jsx,json,scss,css,yml,yaml}]
indent_style = tab

[*.md]
trim_trailing_whitespace = false

[{package.json,composer.json,.mcp.json,*.yml,*.yaml}]
indent_style = space
indent_size = 2
